$baseFontSize: 18 px;
$baseFont: "Avenir Next";
.container{
  clear:both;
  padding-top:25px;
  padding-bottom:25px;
  margin-top:25px;
  margin-bottom:25px;
}
.logo{
    top:25px;
    display: block;
    margin-left: 50%;
  }


@media screen and (max-width: 640px) {
  .navItem {
      display: none;
  }
}