$baseFont:"Avenir Next";

.container{
 margin-top:20px;
 margin-left:10%;
 margin-right:10%;
 margin-bottom:10px;
}
.blog{
  display: grid;
  }

.card {
  float: left;
  width: 25%;
  padding: 0 10px;
}


@media (max-width: 600px) {
.card {
  padding: 0 10px;
}
}
